{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "tailwindFunctions": ["cn", "cva"],
  "tailwindStylesheet": "./src/app/globals.css"
}
